<!DOCTYPE html>
<html lang="{{currentLanguage}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{profile.name}} - Resume</title>
  <link rel="stylesheet" href="{{cssPath}}">
</head>
<body class="bg-gray-50">
  <div class="max-w-4xl mx-auto bg-white shadow-lg min-h-screen">
    {{> header}}

    <main class="p-8 space-y-12">
      {{#if experience}}
        {{> experience}}
      {{/if}}

      {{#if education}}
        {{> education}}
      {{/if}}

      {{#if skills}}
        {{> skills}}
      {{/if}}

      {{#if languages}}
        {{> languages}}
      {{/if}}

      {{#if hobbies}}
        {{> hobbies}}
      {{/if}}

      {{#if social}}
        {{> social}}
      {{/if}}
    </main>
  </div>
</body>
</html>
